body{
    background-color: black;
}
body{
    color: aliceblue;
}
a{
    color: blue;
}
.navi{
    width: 400px;
    text-align: center;
}
h1{
    color: aqua;
}

.nic{
    color: aquamarine;
}

.navi2{
    width: 400px;
    text-align: center;
}